.home-slide {
  background-color: $bg-color;
  background: url(../img/October0003.jpg) no-repeat center center;
  // width: 100vw;
  width: 100%;
  z-index: 500;
  position: relative;
  background-size: cover;
  background-origin: content-box;
  @include breakpoint($bp--xxsmall-up) {
  background-attachment: local;
  background-position-x: 35%;
  }
  // @include breakpoint($bp--medium-up) {
  // // background-position-x: -80px;
  // }

  @include breakpoint($bp--xxsmall-up) {
  height: 550px;
  }
  @include breakpoint($bp--medium-up) {
  height: 600px;
  }
  @include breakpoint($bp--ipad-up) {
  background-position-x: 40%;
  height: 800px;
  }
  @include breakpoint($bp--large-up) {
  // background-position-x: 0%;
  height: 100vh;
  }
  @include breakpoint($bp--xlarge-up) {
  background-position-x: 0px;
  height: 100vh;
  }
  @include breakpoint($bp--xlarge-fixed) {
  background-attachment: fixed;
  }


  .album-wrapper {

    @include breakpoint($bp--xxsmall-up) {
      @include span(9 of 12 at 3 last);
          margin-top: 5%;
    }
    @include breakpoint($bp--medium-up) {
      @include span(8 of 12 at 4 last);
          margin-top: 8%;
    }

    @include breakpoint($iphone-landscape) {
          margin-top: -2em;
    }
    @include breakpoint($bp--large-up) {
      @include span(7 of 12 at 5 last);
          margin-top: 19%;
    }
    @include breakpoint($bp--xlarge-up) {
      @include span(6 of 12 at 6 last);
          margin-top: 10em;
    }
    @include breakpoint($bp--xxlarge-up) {
      @include span(6 of 12 at 6 last);
          margin-top: 10em;
    }
    @include breakpoint($bp--xxxlarge-up) {
      @include span(7 of 12 at 5 last);
          margin-top: 10em;
    }


    .album-header, .album-artist {
      text-align: right;
      display:table-row;
    }
  }
}

.tracks {
  @include breakpoint($bp--xxsmall-up) {
    height:inherit;
    width: 100vw;
  }
  // @include breakpoint($bp--ipad-up) {
  //   // height: 70vh;
  //   width: 92vw;
  // }
  @include breakpoint($bp--large-up) {
    height: 100vh;
  }
  @include breakpoint($bp--xlarge-up) {
    height: 110vh;
    width: 92vw;
  }
}

.track-one {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-one.jpg) no-repeat left center ;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-two {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-two.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-three {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-three.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-four {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-four.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-five {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-five.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-six {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-six.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-seven {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-seven.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-eight {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-eight.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}
.track-nine {
  @include breakpoint($bp--xxsmall-up) {
    background: none;
  }
  @include breakpoint($bp--xlarge-up) {
    background: url(../img/track-nine.jpg) no-repeat left center fixed;
    background-size: cover;
    background-attachment: scroll;
  }
  @include breakpoint($bp--xlarge-fixed) {
    background-attachment: fixed;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 668px)
and (orientation : landscape) {
  .home-slide {background-position-x: 0px;}
}
