////
/// @group colors
////
$theme-color: #950C0B;
$theme-header: #A90203;
$bg-color: #FDFDFD;
$rev-text-color: #FDFDFD;
$positive-bg-color: rgba(255,255,255,0.95);
$negative-bg-color: rgba(41,41,41,0.95);
$main-header-color: #383636;
$body-color: #0A0000;
