html {
  -webkit-font-smoothing: antialiased;
}

/* default OS fonts */
body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/* fonts now loaded */
.wf-active body {
	 font-family: $font--body;
}

.album-header {
  margin:0;
  font-family: $font--beta;
  font-weight: 100;
  color: $main-header-color;
  letter-spacing: 10px;
  font-size: rem(72);

    @include breakpoint($bp--xxsmall-up)  {
      font-size: rem(42);

    }
    @include breakpoint($bp--xsmall-up)  {
      font-size: rem(48);
    }
    @include breakpoint($bp--ipad-up) {
      font-size: rem(72);
    }
    @include breakpoint($bp--xxlarge-up) {
      font-size: rem(84);
    }
    @include breakpoint($bp--xxxlarge-up) {
      font-size: rem(92);
    }
}

.album-artist {
  font-family: $font--alpha;
  color:$theme-header;
  text-transform: uppercase;
  letter-spacing: 8px;

  @include breakpoint($bp--xxsmall-up)  {
    font-size: rem(26);
  }
  @include breakpoint($bp--xlarge-up) {
    font-size: rem(36);
  }

}
.album-track {
  font-family: $font--beta;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 4rem;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: .5em 0;
  margin: .7em 0 .5em 0;

  @include breakpoint($bp--xxsmall-up)  {
    font-size: rem(36);
  }
  @include breakpoint($bp--xlarge-up) {
    font-size: rem(72);
  }


}
.is-reversed .album-track {
  color: #fff;
}

.album-track-text {
  font-family:$font--body;
  font-size: rem(18);
  letter-spacing: -0.31px;
  line-height: 36px;
  color:$body-color;
}
.is-reversed .album-track-text {
  color: #fff;
}

.sitename {
  font-family:$font--alpha;
  font-size: rem(36);
  color: $rev-text-color;
  letter-spacing: 2px;
  margin:0;
  margin-left: -1.2em;
  text-transform: uppercase;
}

.album-name {
  font-family:$font--beta;
  font-weight: 300;
  font-size: rem(36);
  color: $rev-text-color;
  letter-spacing: 1.1px;
  margin:0;
  margin-left: -2.9em;
  margin-top: -10px;

  .album-album {
    font-family:$font--alpha;
    font-size: rem(18);
    color: $rev-text-color;
    letter-spacing: 0.55px;
    margin-right: 10px;
  }
}

.album-listen {
  font-family:$font--beta;
  font-weight: 300;
  font-size: rem(16);
  color: $main-header-color;
  letter-spacing: 2.5px;
  margin: 0 0 .5em 0;
}

.track-selector-list li {
  font-family:$font--alpha;
  font-size: rem(21);
  font-weight: 300;
  letter-spacing: -0.41px;

  @include breakpoint($bp--xxsmall-up)  {
    height: 10%;
  }
  @include breakpoint($bp--xlarge-up) {
    height: 11%;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #A3A0A0;
  }
  a:hover {
    text-decoration: none;
    color: $theme-color;
  }

}

.track-selector-list li.active a {
  color: #000;
}
